/* font family style import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:wght@700&display=swap');
/* shared items */


*{
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.text{
    font-size: 12px;
    color: #464242;
    font-weight: 500;
}
.header-section{
    width: 100%;
    padding-top: 15px;
    
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 175px;
    
    
    
}
.nav-logo {
    display: flex;
    gap:15px;
}
.nav-logo img{
    width: 50px;
    height: 20px;
    padding-top: 25px;
}

.nav-items ul{
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 250px;
    padding:10px ;
    gap: 50px;
    
}
.nav-items ul  li a{
    font-size: 12px;
    text-decoration: none;
}


.btn-primary{
    background-color: rgb(196, 182, 182);
    border: none;
    border-radius: 6px;
    padding: 10px;
    
}
/* style banner section */
.banner-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aliceblue;
    width: 100%;
}
.banner-title{
    width: 50%;
    padding-left:175px;
    
}
.btn-1{
    color:aliceblue;
    background-color: rgb(241, 119, 184);
    padding: 15px;
    border-radius: 25px;
    border: 0;
}
.h3-text{
    font-size: 30px;
    font-weight: 700;
}
.h1-text{
    font-size: 50px;
    font-weight: 700;
    
}
.span{
    background-image: linear-gradient(to bottom,rgb(241, 119, 184) ,rgb(119, 213, 241));
    color: transparent;
    -webkit-background-clip: text;
}

.btn-2{
    color:aliceblue;
    background-color: rgb(119, 213, 241);
    padding: 15px;
    border-radius: 25px;
    border: 0;
}
.banner-img{
    width: 50%;
    padding-right: 50px;
}
/* main section styled */
.main-section{
    display: flex;
    align-items: center;
}
.main-title{
    font-size: 25px;
}
.main-title p{
    font-size: 12px;
    color: #7c7474;
}
.main-title .ellipsis{
    
    overflow: hidden;
    text-overflow: ellipsis;
}
.main-title-p{
    font-size: 25px;
    margin-right: 30px;
}
    
   
    


