/* font family style import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:wght@700&display=swap');
/* shared items */


*{
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.text{
    font-size: 12px;
    color: #464242;
    font-weight: 500;
}
.header-section{
    width: 100%;
    margin-left: 75px;
    padding-top: 15px;
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}
.nav-logo {
    display: flex;
    gap:15px;
}
.nav-logo img{
    width: 50px;
    height: 20px;
    padding-top: 25px;
}

.nav-items ul{
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 250px;
    gap: 50px;
    
}
.nav-items ul  li a{
    font-size: 12px;
    text-decoration: none;
}


.btn-primary{
    background-color: rgb(196, 182, 182);
    border: none;
    border-radius: 6px;
    padding: 10px;
    background-image: url(images/icon1.png);
}
    
   
    
}

